<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">

      <div class="" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active text-white" href="{{ path('home.index') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ path('ingredient.index') }}">ingredient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ path('recipe.index') }}">Recette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a class='btn btn-danger' href='{{ path('security.logout') }}'>Deconnexion</a>
  </div>
  
  </nav>
